@model ProductArtInfo
@using Playground.Mvc.Web.Models.Order

@Html.HiddenForOrderViewModel(model => model.ViewModelId)
@Html.HiddenForOrderViewModel(model => model.ServiceId)
<div class="form-group">
    @Html.LabelForOrderViewModel(model => model.ArtDescription,
            labelText: string.Format("Service {0}", Model.ServiceId),
            htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxForOrderViewModel(model => model.ArtDescription, new { @class = "form-control" })
        @Html.ValidationMessageForOrderViewModel(model => model.ArtDescription,
                "", new { @class = "text-danger" })
    </div>
</div>
